<section class="container">
    <h1 class="text-center text-main my2 h3">Forget Password</h1>
        @if (step==1) {

               <form [formGroup]="verifyEmail" (ngSubmit)="verifyEmailSubmit()">
        <div>
            <label class="rating-color fw-bolder" for="email">Email</label>
            <input type="email" formControlName="email" id="email" class="form-control my-2">
        </div>
        <button [disabled]="verifyEmail.invalid" class="btn-main">Verify Email</button>
        </form>
        }

            @else if (step==2) {
            
                    <form [formGroup]="verifyCode" (ngSubmit)="verifyCodeSubmit()">
                    <div>
                        <label class="rating-color fw-bolder" for="resetCode">resetCode</label>
                        <input type="text" formControlName="resetCode" id="resetCode" class="form-control my-2">
                    </div>
                    <button [disabled]="verifyCode.invalid" class="btn-main">reset Code</button>
                    </form>
            }





          @else if (step==3) {
           
                    <form [formGroup]="resetPassword" (ngSubmit)="resetPasswordSubmit()">
                            <div>
                                <label class="rating-color fw-bolder" for="email">Email</label>
                                <input type="email" formControlName="email" id="email" class="form-control my-2">
                            </div>
                            <div>
                                <label class="rating-color fw-bolder" for="newPassword">newPassword</label>
                                <input type="password" formControlName="newPassword" id="newPassword" class="form-control my-2">
                            </div>
                            <button [disabled]="resetPassword.invalid" class="btn-main">Verify Email</button>
                        </form>
                    }

                
</section>