.logo-img{
    width: 60px;
}
.navbar{
    background-color: #000;
}
.nav-link{
    color: #fff;
}
.navbar-brand{
    color: rgb(165, 13, 2);
    font-weight: 700;
       font-size: 24px;
}
.navbar-brand span{
    color: rgb(235, 167, 46);
}